@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700');
/* Box Sizing
   ========================================================================== */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers. 
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0;
}
/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px;
}
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit;
}
/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic;
}
/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000;
}
/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}
/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block;
}
/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none;
}
/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto;
}
/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block;
}
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}
/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block;
}
/**
   * Add the correct display in IE.
   */
template {
  display: none;
}
/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 600px) {
  .container {
    width: 600px;
  }
  .container.container__small {
    width: 600px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 800px;
  }
  .container.container__small {
    width: 800px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 800px;
  }
  .container.container__small {
    width: 1000px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 800px;
  }
  .container.container__small {
    width: 1200px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 600px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 800px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 800px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 800px) {
  .col-hg-1,
  .col-hg-2,
  .col-hg-3,
  .col-hg-4,
  .col-hg-5,
  .col-hg-6,
  .col-hg-7,
  .col-hg-8,
  .col-hg-9,
  .col-hg-10,
  .col-hg-11,
  .col-hg-12 {
    float: left;
  }
  .col-hg-12 {
    width: 100%;
  }
  .col-hg-11 {
    width: 91.66666667%;
  }
  .col-hg-10 {
    width: 83.33333333%;
  }
  .col-hg-9 {
    width: 75%;
  }
  .col-hg-8 {
    width: 66.66666667%;
  }
  .col-hg-7 {
    width: 58.33333333%;
  }
  .col-hg-6 {
    width: 50%;
  }
  .col-hg-5 {
    width: 41.66666667%;
  }
  .col-hg-4 {
    width: 33.33333333%;
  }
  .col-hg-3 {
    width: 25%;
  }
  .col-hg-2 {
    width: 16.66666667%;
  }
  .col-hg-1 {
    width: 8.33333333%;
  }
  .col-hg-pull-12 {
    right: 100%;
  }
  .col-hg-pull-11 {
    right: 91.66666667%;
  }
  .col-hg-pull-10 {
    right: 83.33333333%;
  }
  .col-hg-pull-9 {
    right: 75%;
  }
  .col-hg-pull-8 {
    right: 66.66666667%;
  }
  .col-hg-pull-7 {
    right: 58.33333333%;
  }
  .col-hg-pull-6 {
    right: 50%;
  }
  .col-hg-pull-5 {
    right: 41.66666667%;
  }
  .col-hg-pull-4 {
    right: 33.33333333%;
  }
  .col-hg-pull-3 {
    right: 25%;
  }
  .col-hg-pull-2 {
    right: 16.66666667%;
  }
  .col-hg-pull-1 {
    right: 8.33333333%;
  }
  .col-hg-pull-0 {
    right: auto;
  }
  .col-hg-push-12 {
    left: 100%;
  }
  .col-hg-push-11 {
    left: 91.66666667%;
  }
  .col-hg-push-10 {
    left: 83.33333333%;
  }
  .col-hg-push-9 {
    left: 75%;
  }
  .col-hg-push-8 {
    left: 66.66666667%;
  }
  .col-hg-push-7 {
    left: 58.33333333%;
  }
  .col-hg-push-6 {
    left: 50%;
  }
  .col-hg-push-5 {
    left: 41.66666667%;
  }
  .col-hg-push-4 {
    left: 33.33333333%;
  }
  .col-hg-push-3 {
    left: 25%;
  }
  .col-hg-push-2 {
    left: 16.66666667%;
  }
  .col-hg-push-1 {
    left: 8.33333333%;
  }
  .col-hg-push-0 {
    left: auto;
  }
  .col-hg-offset-12 {
    margin-left: 100%;
  }
  .col-hg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-hg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-hg-offset-9 {
    margin-left: 75%;
  }
  .col-hg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-hg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-hg-offset-6 {
    margin-left: 50%;
  }
  .col-hg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-hg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-hg-offset-3 {
    margin-left: 25%;
  }
  .col-hg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-hg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-hg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
a {
  color: #494949;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #ff324a;
  text-decoration: underline;
}
a:active {
  color: #ff4c61;
}
a:visited {
  color: #ff324a;
}
a.link__nice {
  font-weight: 700;
}
a.link__nice:hover {
  text-decoration: none;
  color: #ff4c61;
}
a.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff324a;
  border: none;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  outline: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a.btn:hover {
  text-decoration: none;
  background-color: #ff4c61;
}
a.btn.btn__animated {
  z-index: 1;
  padding: 0;
}
a.btn.btn__animated .btn__label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
a.btn.btn__animated::before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: #292929;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}
a.btn.btn__animated:hover .btn__label,
a.btn.btn__animated:focus .btn__label {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}
a.btn.btn__animated:hover::before,
a.btn.btn__animated:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}
html {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  html {
    font-size: calc(16px);
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: calc(17.6px);
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: calc(19.2px);
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: calc(20px);
  }
}
body {
  color: #494949;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292929;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.4em;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.3em;
  font-weight: 300;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.85em;
}
p,
ol,
ul {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.58;
}
p a {
  color: #ff324a;
}
.text-inverted {
  display: inline;
  margin-bottom: 0;
  background-color: #FFF;
  padding: 0;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 15px 0 0 #FFF, -15px 0 0 #FFF;
}
.text-alert {
  color: #ff324a;
  font-style: italic;
  font-weight: 300;
  opacity: .5;
}
.nav__bar {
  height: 55px;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.nav__bar .container-fluid #nav__logo,
.nav__bar .container-fluid #nav__icon--box {
  margin: 0;
  padding: 0;
}
.nav__bar .container-fluid #nav__logo {
  position: absolute;
  width: 75px;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
  left: 15px;
  background-color: #ffffff;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.nav__bar .container-fluid #nav__logo a {
  display: block;
  width: 75px;
  height: 75px;
  padding: 15px;
}
.nav__bar .container-fluid #nav__logo a svg {
  width: 45px;
  height: 45px;
}
.nav__bar .container-fluid #nav__icon--box {
  width: 27.5px;
  height: 15px;
  margin: 20px 0;
  float: right;
  cursor: pointer;
}
@media (min-width: 800px) {
  .nav__bar .container-fluid #nav__icon--box {
    display: none;
  }
}
.nav__bar .container-fluid #nav__icon--box #nav__icon {
  width: 27.5px;
  height: 15px;
  position: relative;
  margin-top: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav__bar .container-fluid #nav__icon--box #nav__icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ff324a;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav__bar .container-fluid #nav__icon--box #nav__icon span:nth-child(1) {
  top: 0px;
}
.nav__bar .container-fluid #nav__icon--box #nav__icon span:nth-child(2),
.nav__bar .container-fluid #nav__icon--box #nav__icon span:nth-child(3) {
  top: 6px;
}
.nav__bar .container-fluid #nav__icon--box #nav__icon span:nth-child(4) {
  top: 12px;
}
.nav__bar .container-fluid #nav__icon--box #nav__icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.nav__bar .container-fluid #nav__icon--box #nav__icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav__bar .container-fluid #nav__icon--box #nav__icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav__bar .container-fluid #nav__icon--box #nav__icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.nav__bar #nav__toggle {
  height: auto;
  overflow: auto;
  display: none;
  width: 100%;
  padding-bottom: 55px;
}
@media (min-width: 800px) {
  .nav__bar #nav__toggle {
    display: block;
    width: auto;
    float: right;
    padding-bottom: 0;
  }
}
.nav__bar #nav__toggle .nav__box {
  width: 100%;
  padding: 0;
  text-align: center;
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items li {
  display: block;
  margin: 10px 0;
}
@media (min-width: 800px) {
  .nav__bar #nav__toggle .nav__box ul.nav__box--items li {
    display: inline-block;
    border-bottom: none;
    margin: 10px 0;
  }
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
@media (min-width: 800px) {
  .nav__bar #nav__toggle .nav__box ul.nav__box--items li {
    border-bottom: none;
  }
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #494949;
}
@media (min-width: 800px) {
  .nav__bar #nav__toggle .nav__box ul.nav__box--items li a {
    padding: 8.5px;
    font-size: .6em;
  }
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items li a:hover {
  text-decoration: none;
  color: #ff324a;
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items li.active a {
  color: #ff324a;
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items li.nav__box--items-featured {
  border-radius: 50px;
  border: 2px solid #ff324a;
}
@media (min-width: 800px) {
  .nav__bar #nav__toggle .nav__box ul.nav__box--items li.nav__box--items-featured {
    border: none;
  }
}
.nav__bar #nav__toggle .nav__box ul.nav__box--items li.nav__box--items-featured a {
  color: #ff324a;
  font-weight: 700;
}
.nav__bar:after {
  content: "";
  display: table;
  clear: both;
}
.nav__bar.nav__bar--opened #nav__logo {
  margin-top: -76px;
}
#main__footer {
  background-color: #ffffff;
  color: #494949;
  padding-top: 30px;
  padding-bottom: 30px;
}
#main__footer .main__footer--items {
  margin: 0;
  padding: 0;
}
#main__footer .main__footer--items .menu-item {
  display: inline-block;
  margin-right: 10px;
}
#main__footer .main__footer--items .menu-item a {
  font-weight: 700;
  font-size: .85em;
  color: #1a1a1a;
}
#main__footer .main__footer--items .menu-item a:hover {
  color: #272727;
}
#main__footer .main__footer--copy {
  margin: 15px 0 0;
  font-size: .7em;
  color: #aeaeae;
}
#main__footer .main__footer--copy a {
  color: #aeaeae;
  font-weight: 400;
}
.about__hero {
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ededed;
  padding: 50px 0;
}
@media (min-width: 800px) {
  .about__hero .container {
    width: 960px;
  }
}
@media (min-width: 800px) {
  .about__hero .container {
    width: 1000px;
  }
}
@media (min-width: 800px) {
  .about__hero .container {
    width: 1200px;
  }
}
.about__hero h1 {
  letter-spacing: -1px;
}
.about__hero h1 span {
  font-style: italic;
}
.about__hero p {
  color: #292929;
  margin-bottom: 0;
}
.post__list {
  margin: 50px 0;
}
@media screen and (min-width: 800px) {
  .post__list {
    margin: 100px 0;
  }
}
.post {
  padding: 50px 0;
}
.post__list--title,
.post--title {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #292929;
  font-weight: 700;
  text-decoration: none;
}
.post__list--title a:link,
.post--title a:link {
  color: #292929;
  text-decoration: none;
}
.post__list--title a:visited,
.post--title a:visited {
  color: #292929;
  text-decoration: none;
}
.post__list--title a:hover,
.post--title a:hover {
  color: #ff324a;
  text-decoration: none;
}
.post__list--title a:active,
.post--title a:active {
  color: #ff324a;
  text-decoration: none;
}
.post__list--date,
.post--details {
  color: #696969;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: .6em;
  letter-spacing: 1px;
}
.post__list--date a,
.post--details a {
  color: #ff324a;
}
.post__list--categories,
.post--categories {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post__list--categories li,
.post--categories li {
  display: inline-block;
  margin: 0 5px 0 0;
}
.post__list--categories li a,
.post--categories li a {
  padding: 2px 5px;
  background-color: #ff324a;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: .75em;
  letter-spacing: 1px;
}
.post__list--categories li a:hover,
.post--categories li a:hover {
  text-decoration: none;
  background-color: #ededed;
}
.post__list--categories li a.post--category-inverted,
.post--categories li a.post--category-inverted {
  padding: 0;
  background-color: transparent;
  color: #ccc;
}
.post__list--categories li a.post--category-inverted:hover,
.post--categories li a.post--category-inverted:hover {
  background-color: transparent;
  color: #ff324a;
}
.post__list--tags {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post__list--tags li {
  display: inline-block;
  margin: 0 5px 0 0;
}
.post__list--tags li a {
  padding: 2px 5px;
  background-color: #ffffff;
  color: #d4d4d4;
  border: 1px solid #d4d4d4;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: 1px;
}
.post--content {
  margin-top: 50px;
}
.post--image {
  width: 100%;
  height: auto;
}
.post--image.post--image-left {
  float: left;
  width: 50%;
  margin-right: 15px;
}
.post--image.post--image-right {
  float: right;
  width: 50%;
  margin-left: 15px;
}
.pagination__links {
  margin: 50px 0;
  padding: 25px 0 50px;
  border-top: 1px solid #ededed;
}
.pagination__links:after {
  content: '';
  display: table;
  clear: both;
}
.pagination__links .pagination__links--prev,
.pagination__links .pagination__links--next {
  float: left;
}
.pagination__links .pagination__links--prev a,
.pagination__links .pagination__links--next a {
  color: #ff324a;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
}
.pagination__links .pagination__links--prev {
  float: right;
}
#disqus_thread {
  margin-bottom: 50px;
}
.social__share {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__share:after {
  content: '';
  display: table;
  clear: both;
}
.social__share li {
  display: block;
  margin: 0 0 5px;
  padding: 0;
}
@media screen and (min-width: 600px) {
  .social__share li {
    float: left;
    margin: 0 5px 0;
  }
}
.social__share li a.social__share--button {
  display: block;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  outline: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.social__share li a.social__share--button:hover {
  text-decoration: none;
}
.social__share li a.social__share--button.social__share--button-facebook {
  background-color: #3b5999;
}
.social__share li a.social__share--button.social__share--button-facebook:hover {
  background-color: #4264ab;
}
.social__share li a.social__share--button.social__share--button-twitter {
  background-color: #55acee;
}
.social__share li a.social__share--button.social__share--button-twitter:hover {
  background-color: #6cb7f0;
}
.social__share li a.social__share--button.social__share--button-google {
  background-color: #dd4b39;
}
.social__share li a.social__share--button.social__share--button-google:hover {
  background-color: #e15f4f;
}
.social__share li a.social__share--button.social__share--button-linkedin {
  background-color: #0077B5;
}
.social__share li a.social__share--button.social__share--button-linkedin:hover {
  background-color: #0088cf;
}
pre {
  font-size: .85em;
  font-family: 'Consolas', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  padding: 15px !important;
  overflow-x: auto;
  border: none !important;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333;
}
pre .nocode {
  background-color: none;
  color: #000;
}
pre .str {
  color: #ffa0a0;
}
/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
pre .com {
  color: #87ceeb;
}
/* comment - skyblue */
pre .typ {
  color: #98fb98;
}
/* type    - lightgreen */
pre .lit {
  color: #cd5c5c;
}
/* literal - darkred */
pre .pun {
  color: #fff;
}
/* punctuation */
pre .pln {
  color: #fff;
}
/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}
/* attribute value - pink */
pre .dec {
  color: #98fb98;
}
/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}
